#dnd {
  width: 100%;
  text-align: center;
  padding: 20px;
}
#dnd .dnd-container {
  height: 120px;
}
#dnd p {
  color: #b0c2c8;
  margin: 30px 0;
}
#dnd.hover {
  background: rgba(128, 128, 128, 0.1);
}
#dnd .done, #dnd .error {
  display: none;
}
#dnd input[type="file"] {
  display: none;
}
#dnd .start {
  width: 120px;
  height: 120px;
  border: none;
  margin: auto;
  background: url("../img/drag_n_drop.png") no-repeat;
}
#dnd .done {
  width: 120px;
  height: 120px;
  border: none;
  margin: auto;
  background: url("../img/file_upload_done.png") no-repeat;
}
#dnd .error {
  width: 138px;
  height: 112px;
  margin: auto;
  background: url("../img/file_upload_error.png") no-repeat;
}
#dnd progress {
  display: none;
  margin-top: 60px;
  width: 100%;
}
#dnd button {
  cursor: pointer;
  width: 190px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 0;
  margin: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#dnd button:first-of-type {
  background: #b0c2c8;
  margin-right: 10px;
}
#dnd button:last-of-type {
  background: #4bc5c3;
}
